$success: #c7f282;
$warning: #f1e681;
$error: #f08181;
$charcoal: #ccc;

.flash-success,
.flash-warning,
.flash-error {
  border: 1px solid $charcoal;
  display: block;
  left: 25%;
  padding: 30px;
  position: fixed;
  text-align: center;
  top: 15%;
  width: 50%;
  z-index: 1;
}

.flash-success {
  background-color: $success;
}

.flash-warning {
  background-color: $warning;
}

.flash-error {
  background-color: $error;
}

.container{
  margin-left: 20%;
  padding: 0px 10px;
  padding-left: 40px;
  max-width: 80%;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15% auto 0;
  max-width: 600px;

  h3,
  input {
    margin-bottom: 5%;
  }

  button {
    align-self: flex-end;
    max-width: 200px;
  }
}

.custom-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 8% auto;
  max-width: 600px;

  h3,
  input {
    margin-bottom: 5%;
  }

  button {
    align-self: flex-end;
    max-width: 200px;
  }
}

.taskItem{
  margin: 8px;
  min-height: 100px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.taskItem .dropdown{
  justify-self: end;
}