body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("https://traykitchen.com/image/light-gray-wallpapers/light-gray-wallpaper-group-64-download-solid-color-2119-px-high-paint-wall-kitchen-cabinet-background-suit-bedroom-rgb.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

button{
  background: #444444;
  color: white;
}

.alert {
  margin: 30px;
}
